input(type="hidden" ng-model="task.id")
 
label(for="title") Title
input(type="text" ng-model="task.title")
 
label(for="description") Description
input(type="text" ng-model="task.description")
 
button(type="submit") Save